{{#each this}}
<div>
<h2>{{name}}</h2>
<ul>
    <li>Capital: {{capital}}</li>
    <li>Population: {{population}}</li>
    <li>Languages:
        <ul>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
</div>
<div>
    <img srcset={{flags.png}}
        alt={{name}} />
</div>
{{/each}}