{{#each this}}
<div id='result__name'class="result__name">
    <h2>{{name}}</h2>
</div>
<div class="result__country">
    <div>
        <ul class="country-found">
            <li><span class="contry-item">Capital: </span> {{capital}}</li>
            <li><span class="contry-item">Population: </span> {{population}}</li>
            <li><span class="contry-item">Languages: </span>
                <ul class="contry-item__list">
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <img srcset={{flags.png}} alt={{name}} />
    </div>
</div>

{{/each}}